.container{
    width: 100%;
    padding-top: 30px;
}
    
.wrapper{
    padding-top: 40px;
    width: 60%;
    min-height: 300px;
    background: #07278023;
    border-top: 2px solid red;
    margin: 0 auto; 
    border-radius: 15px; 
}
.add-task{
    height: 40px;
    width: 600px;
    font-size: 16px;
    color: rgb(22, 17, 59);

}
.form-wrap{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background-color: salmon;
    border-radius: 30px;
}
.btn-add{
    width: 100px;
    height: 35px;
    border-radius: 15px;
    margin-left: 20px;
    border: none;
    background-color: silver;
    color: rgb(205, 90, 90);
    text-align: center;
}
.btn-add:hover{
    background-color: slateblue;
    color: white;
}
.task-item{
    width: 98%;
    height: 30px;
    color: snow;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    justify-content: space-between;
}
.task-item:nth-of-type(odd){
    background-color: rgba(0, 255, 128, 0.514);
    width: 85%;
}
.task-item:nth-of-type(even){
    background-color: rgba(0, 38, 255, 0.527);
    width: 90%;

}
.close-it{
    width: 50px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 5px;
    border-radius: 25px;
    height: 100%;
    background-color: red;
    color: #ffffff;
    cursor: pointer;
}